accelerate==1.4.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
annotated-types==0.7.0
anthropic==0.39.0
anyio==4.6.2.post1
asttokens==3.0.0
attrs==24.2.0
azure-ai-documentintelligence==1.0.2
azure-core==1.33.0
azure-identity==1.21.0
beartype==0.14.1
beautifulsoup4==4.13.4
better-abc==0.0.3
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
circuitsvis==1.43.3
click==8.1.8
cobble==0.1.4
coloredlogs==15.0.1
contourpy==1.3.1
cryptography==43.0.3
cycler==0.12.1
dataclasses-json==0.6.7
datasets==3.3.2
decorator==5.2.1
defusedxml==0.7.1
dill==0.3.8
distro==1.9.0
docker-pycreds==0.4.0
einops==0.8.1
et_xmlfile==2.0.0
executing==2.2.0
faiss-cpu==1.10.0
fancy-einsum==0.0.3
fastapi==0.115.12
filelock==3.17.0
fireworks-ai==0.15.12
flatbuffers==25.2.10
fonttools==4.57.0
frozenlist==1.5.0
fsspec==2024.12.0
gitdb==4.0.12
GitPython==3.1.44
greenlet==3.1.1
groq==0.11.0
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
httpx-sse==0.4.0
httpx-ws==0.7.1
huggingface-hub==0.29.1
humanfriendly==10.0
idna==3.10
importlib_metadata==8.6.1
iniconfig==2.0.0
ipython==9.0.2
ipython_pygments_lexers==1.1.1
isodate==0.7.2
jaxtyping==0.2.38
jedi==0.19.2
Jinja2==3.1.5
jiter==0.7.0
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema_rs==0.25.1
kiwisolver==1.4.8
-e git+ssh://git@github.com/spygaurad/KnowYourLLM@92c22efd6dd8d809ab5cd8125c8ac3ea465d7af8#egg=kyllm_agent
langchain==0.3.7
langchain-anthropic==0.2.4
langchain-community==0.3.5
langchain-core==0.3.45
langchain-groq==0.2.0
langchain-openai==0.3.1
langchain-text-splitters==0.3.0
langgraph==0.2.76
langgraph-api==0.0.26
langgraph-checkpoint==2.0.21
langgraph-cli==0.1.73
langgraph-sdk==0.1.57
langsmith==0.1.137
lxml==5.4.0
magika==0.6.1
mammoth==1.9.0
markdown-it-py==3.0.0
markdownify==1.1.0
markitdown==0.1.1
MarkupSafe==3.0.2
marshmallow==3.23.0
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mpmath==1.3.0
msal==1.32.2
msal-extensions==1.3.1
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.16
mypy-extensions==1.0.0
narwhals==1.31.0
networkx==3.4.2
numpy==1.26.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
olefile==0.47
onnxruntime==1.21.1
openai==1.60.0
openpyxl==3.1.5
orjson==3.10.10
packaging==24.1
pandas==2.2.3
parso==0.8.4
pdfminer.six==20250416
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.3.6
plotly==6.0.1
pluggy==1.5.0
prompt_toolkit==3.0.50
propcache==0.2.0
protobuf==5.29.3
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==19.0.1
pycparser==2.22
pydantic==2.11.2
pydantic-settings==2.6.0
pydantic_core==2.33.1
pydub==0.25.1
Pygments==2.19.1
PyJWT==2.10.1
pyparsing==3.2.3
pytest==8.3.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-pptx==1.0.2
pytz==2024.2
PyYAML==6.0.2
regex==2024.9.11
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.9.4
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.1
sentencepiece==0.2.0
sentry-sdk==2.22.0
setproctitle==1.3.5
six==1.16.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.7
SpeechRecognition==3.14.2
SQLAlchemy==2.0.35
sse-starlette==2.1.3
stack-data==0.6.3
starlette==0.45.2
structlog==24.4.0
sympy==1.13.1
tavily-python==0.5.0
tenacity==9.0.0
threadpoolctl==3.5.0
tiktoken==0.8.0
tokenizers==0.21.0
torch==2.6.0
tqdm==4.67.1
traitlets==5.14.3
transformer-lens==2.15.0
transformers==4.49.0
transformers-stream-generator==0.0.5
triton==3.2.0
typeguard==4.4.2
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
uvicorn==0.34.0
wadler_lindig==0.1.3
wandb==0.19.7
watchfiles==1.0.4
wcwidth==0.2.13
wsproto==1.2.0
xlrd==2.0.1
XlsxWriter==3.2.3
xxhash==3.5.0
yarl==1.16.0
youtube-transcript-api==1.0.3
zipp==3.21.0
zstandard==0.23.0
